:root {
  --main-bg-color: #edf6f9;
  --light-blue: #83c5be;
  --dark-blue: #006d77;
  --orange: #e29578;
  --almond: #ffddd2;
}
.page-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: "Arimo";
}

.header {
  padding: 1%;
  height: 5vh;
  position: sticky;
  top: 0;
  display: flex;
  background-color: var(--main-bg-color);
  justify-content: space-between;
}

.navbar {
  height: 5vh;
}

.nav-button {
  border: 1px solid var(--dark-blue);
  height: 100%;
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.nav-button:hover {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

.header-logo {
  width: 10%;
  text-align: left;
}

.h1-header-logo {
  all: unset;
}

.logo-image {
  height: 100%;
}

.header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  text-align: right;
}

.header-avatar {
  height: 100%;
}

.header-welcome {
  text-align: left;
  font-weight: bold;
  color: var(--dark-blue);
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 25%;
  padding: 0;
  height: 5%;
  background-color: var(--almond);
  border: 1px solid var(--orange);
  border-radius: 10vh;
}

.filter-property-type-option {
  font-size: small;
}

.property-types-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

.property-type-options {
  display: flex;
}

.sort-by-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

select {
  border-radius: 25px;
}

.price-input {
  width: 20%;
}

.price-range-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.filter-search-wrapper {
  padding-right: 1%;
}

.filter-bar-button {
  background-color: inherit;
  border: 0;
}

.properties-grid {
  margin: 3vh 12%;

  border-radius: 5px;
  padding: 1vh 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.property-card {
  border: 3px double var(--light-blue);
  border-radius: 10px;
  margin: 1% 1%;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.property-card-image {
  margin: 0;
  width: 100%;
  height: 80%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.property-card-details-wrapper {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

.property-card-name {
  margin: 1% 0 0 2%;
  text-align: left;
  font-weight: bold;
}

.property-card-location {
  margin-left: 2%;
  font-size: 0.9rem;
}

.property-card-price {
  margin-right: 2%;
  color: var(--dark-blue);
}
