:root {
  --main-bg-color: #edf6f9;
  --light-blue: #83c5be;
  --dark-blue: #006d77;
  --orange: #e29578;
  --almond: #ffddd2;
}
.page-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: "Arimo";
}

.header {
  padding: 1%;
  margin-bottom: 5%;
  height: 5vh;
  position: sticky;
  top: 0;
  display: flex;
  background-color: var(--main-bg-color);
  justify-content: space-between;
}

.navbar {
  height: 5vh;
}

.nav-button {
  border: 1px solid var(--dark-blue);
  height: 100%;
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.nav-button:hover {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

.header-logo {
  width: 10%;
  text-align: left;
}

.h1-header-logo {
  all: unset;
}

.logo-image {
  height: 100%;
}

.header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  text-align: right;
}

.header-avatar {
  height: 100%;
}

.header-welcome {
  text-align: left;
  font-weight: bold;
  color: var(--dark-blue);
}
