:root {
  --main-bg-color: #edf6f9;
  --light-blue: #83c5be;
  --dark-blue: #006d77;
  --orange: #e29578;
  --almond: #ffddd2;
}

body {
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: "Arimo";
}

.header {
  padding: 1%;
  height: 5vh;
  position: sticky;
  top: 0;
  display: flex;
  background-color: var(--main-bg-color);
  justify-content: space-between;
}

.navbar {
  height: 5vh;
}

.nav-button {
  border: 1px solid var(--dark-blue);
  height: 100%;
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.nav-button:hover {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  border: 1px solid var(--light-blue);
}

.header-logo {
  width: 10%;
  text-align: left;
}

.h1-header-logo {
  all: unset;
}

.logo-image {
  height: 100%;
}

.header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  text-align: right;
}

.header-avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.header-welcome {
  text-align: left;
  font-weight: bold;
  color: var(--dark-blue);
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 25%;
  padding: 0;
  height: 5%;
  background-color: var(--light-blue);
  border: 1px solid var(--dark-blue);
  border-radius: 10vh;
}

.filter-property-type-option {
  font-size: small;
}

.property-types-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

.property-type-options {
  display: flex;
}

.sort-by-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

select {
  border-radius: 25px;
}

.price-input {
  width: 20%;
}

.price-range-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.filter-search-wrapper {
  padding-right: 1%;
}

.filter-bar-button {
  background-color: inherit;
  border: 0;
}

.properties-grid {
  margin: 3vh 12%;

  border-radius: 5px;
  padding: 1vh 0;
  display: flex;
  flex-flow: row wrap;
  gap: 3vh 2vw;
  justify-content: center;
}

.property-card {
  border: 3px double var(--light-blue);
  border-radius: 10px;
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.property-card-image {
  margin: 0;
  width: 100%;
  height: 80%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.property-card-details-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5%;
}

.property-card-name {
  margin: 1% 0 0 2%;
  text-align: left;
  font-weight: bold;
}

.property-card-location {
  margin-left: 2%;
  font-size: 0.9rem;
}

.property-card-price {
  margin-right: 2%;
  color: var(--dark-blue);
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

.view-single-property-page-container {
  margin: 3vh 10vw;
}

.view-single-property-grid {
  display: grid;
  grid-template-areas:
    ". . b b b"
    "a a c c c"
    "a a d d d"
    "a a d d d";
}

.view-single-property-main-image {
  grid-area: a;
  width: 500px;
  height: 500px;
  border-radius: 20px;

  background-color: var(--light-blue);
}

.view-single-property-name {
  margin: 0;
  font-size: xx-large;
}

.view-single-property-location {
  margin: 0;
  font-size: 0.85em;
}

.view-single-property-description {
  margin-top: 2%;
}

.view-single-property-detail-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-area: d;
}

.detail-card-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  column-gap: 10px;
}

.detail-card {
  width: 240px;
  height: 180px;
  border: double 3px var(--light-blue);
  border-radius: 5px;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.image-card {
  width: 240px;
  height: 180px;
  border: double 3px var(--light-blue);
  border-radius: 5px;
}

.empty-card {
  width: 240px;
  height: 180px;
  border: double 3px var(--light-blue);
  border-radius: 5px;
  background-color: var(--light-blue);
}

.detail-card-emphasis {
  color: var(--dark-blue);
  font-size: 3.5rem;
  font-weight: bold;
}

.view-single-property-hosted-by {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: double 3px var(--light-blue);
  border-radius: 10vh;
  min-width: 240px;
  max-height: 50px;
}

.hosted-by-avatar {
  border-radius: 100%;
}

.hosted-by-name {
  padding-left: 5%;
}

.view-single-property-header {
  display: flex;
  justify-content: space-between;
  grid-area: b;
}

.view-single-property-description {
  grid-area: c;
}

.view-single-property-divider {
  border-color: var(--light-blue);
}

hr {
  border: solid 1px var(--light-blue);
}

.view-single-property-reviews-container {
  margin-top: 5vh;
  margin-bottom: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  justify-content: center;
  column-gap: 15%;
}

.review-header {
  margin: 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.review-container {
  border: solid 2px var(--light-blue);
  border-radius: 10px;
  width: 40%;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-header-details {
  display: flex;
  flex-direction: column;

  margin-left: 3%;
}

.review-guest-container {
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.review-avatar {
  margin-left: 2%;
  border-radius: 100%;
}

.review-guest-name {
  font-weight: bold;
}

.review-date {
  font-size: 0.8rem;
  color: var(--dark-blue);
}

.review-comment {
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin: 5% 10% 0;
  text-align: center;
}

.quote-marks-opening {
  font-size: 3rem;
  color: var(--dark-blue);
  text-align: start;
}

.quote-marks-closing {
  font-size: 3rem;
  text-align: end;
  color: var(--dark-blue);
  margin-top: 6%;
  margin-bottom: 0;
}

.review-rating {
  font-size: 3rem;
  color: var(--dark-blue);
}

.more-reviews-rating {
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 3rem;
  color: var(--dark-blue);
  text-align: center;
}

.other-properties-heading {
  font-size: 1.2rem;
  font-weight: bold;
}

.no-reviews {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-more-reviews {
  all: unset;
  font-size: 0.9rem;
  font-weight: bold;
  width: 86%;
  margin-bottom: 2%;
  display: block;
  text-align: end;
}

.view-more-reviews:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--light-blue);
  cursor: pointer;
}

.review-button {
  display: flex;
  justify-content: center;
  background-color: var(--light-blue);
  border: double 3px var(--light-blue);
  border-radius: 5px;
  margin-left: 1%;
  max-width: 100px;
}

.review-button:hover {
  background-color: none;
  border-color: white;
}

.write-review-icon {
  width: 30px;
}

.add-review-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  background-color: #fff;
  z-index: 1000;
  border: solid 3px var(--light-blue);
  border-radius: 5px;
}

.close-modal {
  display: block;
  text-align: end;
  margin-right: 5px;
  font-weight: bold;
  font-size: 1.2rem;
}

.close-modal:hover {
  color: var(--light-blue);
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.write-review-form {
  padding: 10px;
}

.review-stars-container {
  height: 100px;
  margin-top: 5px;
  margin-bottom: 30px;
}

.review-stars-container:hover {
  cursor: pointer;
}

.star {
  background-color: none;
  padding: 0;
  border: 0;
  z-index: 1;
}

.star-filled {
  background-color: var(--light-blue);
  padding: 0;
  border: 0;
  z-index: 1;
}

.review-textarea {
  width: inherit;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#write-review-text {
  margin-top: 5px;
  border: double 3px var(--light-blue);
  resize: none;
}

.submit-review-button {
  display: block;

  background-color: var(--light-blue);
  border: double 3px var(--light-blue);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  margin-top: 10px;
  padding: 10px;
}

.submit-review-button:hover {
  border-color: white;
}

.submit-review-button:active {
  color: #fff;
}

.close-review-button {
  display: block;

  background-color: var(--light-blue);
  border: double 3px var(--light-blue);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100px;
  margin-top: 10px;
  padding: 10px;
}

.close-review-button:hover {
  border-color: white;
}

.close-review-button:active {
  color: #fff;
}

#rating-warning {
  color: red;
  display: none;
}

#review-message-warning {
  display: none;
  color: red;
}

#successful-post-message {
  display: none;
  color: green;
}

.all-reviews-container {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--light-blue) #fff;
}

.review-divider {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.review-divier-hr {
  padding-left: 25%;
  padding-right: 25%;
}

.disabled {
  pointer-events: none;
  opacity: 90%;
}

.hidden {
  display: none;
}

.loader-container {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.loader {
  border: 10px solid #fff;
  border-top: 10px solid var(--light-blue);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
